<h2>Company Index</h2>

<%  @companies.select { |x| x["rating"] > 7}.sample(25).each do |co| %>
  <hr>
  <%= link_to image_tag(co.logo), company_path(co[:id]) %>
  <p><%= co.twitter_url %></p>
  <hr>
  <% end %>
