<% #news feed for investors and companies %>
<h3>News Feeed</h3>
<% #if block call crunchbase api %>
<% if @news["data"]["relationships"]["news"].nil? %>
 <p><%= puts "No news available" %></p>
 <% else %>
   <%  @news["data"]["relationships"]["news"]["items"].each do |post| %>
<%= link_to post["title"], post["url"] %>
<hr>
<% end %>
<% end %>
